.stamp-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdf;
}

.stamp-page__title{
  font-size: 2.5rem; 
}

.stamp-canvas{
  background-color: white;
}

.stamp-canvas{
  width: 90vw;
  height: 50vw;
  border: 2px solid purple;
}

.stamp-settings{
  margin: 2rem;
  padding: 1rem;
  border: 2px solid darkblue;
  border-radius: 0.5rem;
  background-color: #dff;
}

.stamp-settings__title{
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}
