<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Socket Stamps</title>
  
  <link rel="stylesheet" href="/html/static/css/socket-stamp.css">
</head>
<body class="stamp-page">
  <h1 class="stamp-page__title">The Socket Stamp Site</h1>
  <div class="main-display">
    <canvas id="socket-stamp-canvas" class="stamp-canvas"></canvas>
    <div class="active-users-display">
      <h2 class="active-users-display__title">Active Users:</h2>
      <ul id="socket-active-users-list" class="active-users-display__list"></ul>
    </div>
  </div>
  <div class="stamp-settings">
    <h2 class="stamp-settings__title">Stamp Settings</h2>
    <label for="message">Add text: </label>
    <input name="message" placeholder="A cool message..." id="stamp-text-input">
    <p>Then click on canvas to add!</p>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/html/static/js/socket-stamp.js"></script>
</body>
</html>
