<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/template-home-1.css">

  <title>My Template Homepage uwu</title>
</head>
<body class="home">
  <header class="top-bar">
    <nav class="top-nav">
      <ul class="top-nav__list">
	<li class="top-nav__item  top-nav__item--has-dropnav">
	  <a class="top-nav__link" href="#cover">Home</a>
	  <ul class="sub-nav sub-nav--down">
	    <li class="sub-nav__item">
	      <a class="sub-nav__link" href="#intro">Intro</a>
	    </li>
            <li class="sub-nav__item">
	      <a class="sub-nav__link" href="#interests">Interests</a>
	    </li>
	    <li class="sub-nav__item">
	      <a class = "subnav__link" href="#family">Family</a>
	    </li>
	    <li class="sub-nav__item sub-nav__item--has-sub-nav">
	      <a clas="sub-nav__link" href="#ideas">Ideas</a>
	      <ul class="sub-nav sub-nav--side">
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#ideas__aiideaarb">AI Idea Arbitrage</a>
		</li>
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#ideas__soundapp">Sound App</a>
		</li>
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#ideas__studychromeext">Study Chrome Extension</a>
		</li>
	      </ul>
	    </li>
	    <li class="sub-nav__item sub-nav__item--has-sub-nav">
	      <a href="#philosophies">Philosophies</a>
	      <ul class="sub-nav sub-nav--side">
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#philosophies__maxexp">Maximize Experiences</a>
		</li>
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#philosophies__librawl">Libertarianism/Rawl's Original Position</a>
	        </li>
	      </ul>
	    </li>
	    <li class="sub-nav__item">
	      <a class="sub-nav__link" href="#contact">Contact</a>
	    </li>
	  </ul>
	</li>
	<li class="top-nav__item">
	  <a class="top-nav__link" href="#">Page 1</a>
	</li>
	<li clas="top-nav__item">
	  <a class="top-nav__link" href="#">Page 2</a>
	</li>
      </ul>
    <nav>
  <header>
  <main>
    <section id="cover">

    </section>
    <section id="intro">
    
    </section>
    <section id="interests">
    </section>
    <section id="family">
    
    </section>
    <section id="ideas">

    </section>
    <section id="philosophies">
    </section>
  </main>
  <footer class="contact">
  </footer>
</body>
</html>
