<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/template-home-1.css">

  <title>My Template Homepage uwu</title>
</head>
<body class="home-page">
  <header class="top-bar">
    <h1 class="top-bar__title">Jason</h1>
    <nav class="top-bar__nav">
      <ul class="nav-list">
	<li class="nav-list__item nav-list__item--sub-nav-pos--below">
	  <a class="nav-list__link" href="#cover">Home</a>
	  <ul class="nav-list nav-list--layout--vertical nav-list--is-sub-nav">
	    <li class="nav-list__item">
	      <a class="nav-list__link" href="#home-intro">Intro</a>
	    </li>
            <li class="nav-list__item">
	      <a class="nav-list__link" href="#home-interests">Interests</a>
	    </li>
	    <li class="nav-list__item">
	      <a class = "nav-list__link" href="#home-family">Family</a>
	    </li>
	    <li class="nav-list__item nav-list__item--sub-nav-pos--right">
	      <a class="nav-list__link" href="#home-ideas">Ideas</a>
	      <ul class="nav-list nav-list--layout--vertical nav-list--is-sub-nav">
		<li class="nav-list__item">
		  <a class="nav-list__link" href="#ideas__aiideaarb">AI Idea Arbitrage</a>
		</li>
		<li class="nav-list__item">
		  <a class="nav-list__link" href="#ideas__soundapp">Sound App</a>
		</li>
		<li class="nav-list__item">
		  <a class="nav-list__link" href="#ideas__studychromeext">Study Chrome Extension</a>
		</li>
	      </ul>
	    </li>
	    <li class="nav-list__item nav-list__item--sub-nav-pos--right">
	      <a class="nav-list__link" href="#home-philosophies">Philosophies</a>
	      <ul class="nav-list nav-list--layout--vertical nav-list--is-sub-nav">
		<li class="nav-list__item">
		  <a class="nav-list__link" href="#philosophies__maxexp">Maximize Experiences</a>
		</li>
		<li class="nav-list__item">
		  <a class="nav-list__link" href="#philosophies__librawl">Libertarianism/Rawl's Original Position</a>
	        </li>
	      </ul>
	    </li>
	    <li class="nav-list__item">
	      <a class="nav-list__link" href="#home-contact">Contact</a>
	    </li>
	  </ul>
	</li>
	<li class="nav-list__item">
	  <a class="nav-list__link" href="#">Page 1</a>
	</li>
	<li class="nav-list__item">
	  <a class="nav-list__link" href="#">Page 2</a>
	</li>
      </ul>
    </nav>
  </header>
  <main class="home-page__main">
    <section id="home-cover" class="cover-section">

    </section>
    <section id="home-intro" class="intro-section">
    
    </section>
    <section id="home-interests" class="interests-section">
    
    </section>
    <section id="home-family" class="family-section">
    
    </section>
    <section id="home-ideas" class="ideas-section">

    </section>
    <section id="home-philosophies" class="philophies-section">
    
    </section>
  </main>
  <footer id="home-contact" class="footer-bar">
  </footer>
</body>
</html>
