<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/template-home-1.css">

  <title>My Template Homepage uwu</title>
</head>
<body class="home-page">
  <header class="top-bar">
    <div class="top-bar__title">Jason</div>
    <nav class="top-nav">
      <ul class="top-nav__list">
	<li class="top-nav__item">
	  <a class="top-nav__link" href="#cover">Home</a>
	  <ul class="sub-nav">
	    <li class="sub-nav__item">
	      <a class="sub-nav__link" href="#home-intro">Intro</a>
	    </li>
            <li class="sub-nav__item">
	      <a class="sub-nav__link" href="#home-interests">Interests</a>
	    </li>
	    <li class="sub-nav__item">
	      <a class = "sub-nav__link" href="#home-family">Family</a>
	    </li>
	    <li class="sub-nav__item">
	      <a class="sub-nav__link" href="#home-ideas">Ideas</a>
	      <ul class="sub-nav">
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#ideas__aiideaarb">AI Idea Arbitrage</a>
		</li>
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#ideas__soundapp">Sound App</a>
		</li>
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#ideas__studychromeext">Study Chrome Extension</a>
		</li>
	      </ul>
	    </li>
	    <li class="sub-nav__item">
	      <a class="sub-nav__link" href="#home-philosophies">Philosophies</a>
	      <ul class="sub-nav">
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#philosophies__maxexp">Maximize Experiences</a>
		</li>
		<li class="sub-nav__item">
		  <a class="sub-nav__link" href="#philosophies__librawl">Libertarianism/Rawl's Original Position</a>
	        </li>
	      </ul>
	    </li>
	    <li class="sub-nav__item">
	      <a class="sub-nav__link" href="#home-contact">Contact</a>
	    </li>
	  </ul>
	</li>
	<li class="top-nav__item">
	  <a class="top-nav__link" href="#">Page 1</a>
	</li>
	<li class="top-nav__item">
	  <a class="top-nav__link" href="#">Page 2</a>
	</li>
      </ul>
    </nav>
  </header>
  <main class="home-page__main">
    <section id="home-cover" class="cover-section">
      <h1 class="cover-section__title">Jason's Home Page</h1>
    </section>
    <section id="home-intro" class="intro-section">
      <h2 class="intro-section__title">Intro</h1>
      <img src="pepega" class="intro-section__me-image"></img>
      <p class="intro-section__intro-text">This is a page created by me, Jason G. Isn't it so amazing wow! Jk it's terrible...</p>
    </section>
    <section id="home-interests" class="interests-section">
    
    </section>
    <section id="home-family" class="family-section">
    
    </section>
    <section id="home-ideas" class="ideas-section">

    </section>
    <section id="home-philosophies" class="philophies-section">
    
    </section>
  </main>
  <footer id="home-contact" class="footer-bar">
  </footer>
</body>
</html>
