.modal-auth-page{
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #8ff;
}

.header-content{
  background-color: #adf;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-container{
  border: 2px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.login-container__button-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.login-container__button{
  width: 10rem;
  height: 4rem;
  background-color: lime;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.login-container__button:hover{
  background-color: limegreen;
}

.main-content{
  width: 100vw;
  background-color: #8ff;
}

.main-content__title{
  text-align: center;
}

.main-content__paragraph{
 padding-left: 4rem; 
}

.auth-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
}

.auth-modal--show{
  display: flex;
}

.auth-modal__container{
  width: 80%;
  background-color: white;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.auth-modal__close{
  position: absolute;
  right: 0.75rem;
  font-size: 2.25rem;
  color: darkred;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.auth-modal__close:hover{
  color: red;
}

.auth-modal__title{
  margin-top: 2rem;
}

.auth-modal__form{
  margin: 2rem;
  padding: 0;
  font-size: 1.25rem;
  width: 80%;
  margin: 0.5rem;
}

.auth-modal__input{
  width: 100%;
  height: 2rem;
  margin: 0.75rem 0;
  display: block;
  box-sizing: border-box; 
}

.auth-modal__submit{
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.auth-modal__banner{
  width: 100%;
  height: 4rem;
  background-color: limegreen;
  display: flex;
  align-items: center;
}

.auth-modal__message{
  margin-left: 3rem;
  font-size: 1.125rem;
  
}
